POSTGRES_PASSWORD=
POSTGRES_USER=
DATABASE_URL="postgresql://<admin_user>:<admin_passwd>@localhost:6542/gallery?schema=public"

# needed by auth. Can be generated using `npx auth secret`
AUTH_SECRET=
